.weather {
  width: 100%;
}
.box {
  width: 100%;
  max-width: 500px;
  min-height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
  //   background: url(../img/weather.jpg) no-repeat center/cover;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(212, 204, 204);
  border-radius: 15px;
}
.box__input {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  input {
    width: 100%;
    padding: 15px 20px;
    background: transparent;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px 20px;
    &::placeholder {
      color: rgba(199, 196, 196, 0.7);
      font-style: italic;
      font-size: 14px;
    }
  }
}
.box__city {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.box__temp {
  font-size: 70px;
  text-shadow: 2px 2px 2px white;
  margin: 90px 0 70px;
}
.box__details {
  display: flex;
  width: 100%;
}
.details__item {
  flex: 0 1 33.3333%;
  padding: 15px;
  position: relative;
  padding: 30px 0;
}
.humidity::after {
  content: '\f043';
  @include f-awesome;
}
.wind::after {
  content: '\f72e';
  @include f-awesome;
}
.pressure::after {
  content: '\f2cb';
  @include f-awesome;
}
.details__item > *:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  .box {
    min-height: 400px;
  }
  .box__temp {
    margin: 40px 0 40px;
  }
}
